.gnb {
  position: absolute;
  top: 50%;
  left: 1%;
  transform: translateY(-50%);
  border-radius: 50rem;
  padding: .5rem;
  height: 70vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.gnb>.firstBox {
  margin-top: 1rem;
  border-bottom: .1rem solid #ddd;
}

.gnb>ul {
  padding: .5rem;
}

.gnb>ul>li {
  padding: 1.5rem 0;
  font-size: .9rem;
  text-align: center;
}

.gnb #postNumber {
  border: .1rem solid #ddd;
  width: 3rem;
  height: 3rem;
}

.gnb #postNumber:focus {
  outline: none;
}

h1 {
  margin-bottom: 1rem;
  padding: 10px 0;
  text-align: center;
}

.postArea {
  position: absolute;
  right: 0;
  width: 95%;
  height: 100vh;
}

.post {
  position: absolute;
  width: 30rem;
  height: 30rem;
  background-color: #ECF433;
  z-index: 999;
}

.post .sticker-title {
  padding: 10px 0;
  border-bottom: .1rem solid #fff;
  text-align: center;
  font-size: 1.5rem;
}

.post .sticker-body {
  padding: 1rem 1rem 1rem 2rem;
  height: 85%;
  overflow-y: scroll;
}

.post .sticker-body::-webkit-scrollbar {
  display: none;
}

.post .sticker-body .memo {
  margin-bottom: 1rem;
}

.post .sticker-body .memo>li {
  padding: 2.5px 0;
  font-size: 12px;
  text-align: left;
}

.post .sticker-write-box {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.post .sticker-body .sticker-write-box>.sticker-input {
  padding: 5px 2px;
  width: 80%;
}

.post .sticker-body .list-add {
  margin: 0 auto;
  border: none;
  width: 100%;
  font-size: 2rem;
  background: transparent;
}

.post .sticker-write-box>.sticker-write,
.post .sticker-write-box>.list-delete {
  border: .1rem solid #999;
  padding: .2rem;
  width: 3.5rem;
  font-size: 1.2rem;
  background: transparent;
}