#wrapper {
  /* outline: 1px solid #000; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#wrapper>.container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

#wrapper>.container h2 {
  text-align: center;
  font-size: 1.7rem;
}

#wrapper>.container>.loginBox {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

#wrapper>.container>.loginBox input {
  padding: 1rem 1.5rem;
  border: .1rem solid #ddd;
  border-radius: 5rem;
  width: 30rem;
}

#wrapper>.container .loginBtn {
  padding: 1rem 1rem;
  border: .1rem solid #ddd;
  border-radius: 5rem;
  background: transparent;
  font-size: 1.5rem;
  font-weight: 600;
  transition: .5s;
}

#wrapper>.container .loginBtn:hover {
  background-color: #ECF433;
  border: .1rem solid #ECF433;
  color: #000;
}